
h3{
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}
#pg1{
  text-align:center;
}
form{
  margin: 7% 18%
}
#btn1{
  text-align: center;
  margin-top: 35px;
}
